{% extends 'siscqt_core/base.html' %}

{% block title %}Confirmar Exclusão de Perfil{% endblock %}

{% block content %}
{% extends 'siscqt_core/base.html' %}

{% block title %}Confirmar Exclusão de Perfil{% endblock %}

{% block content %}
    <h1 class="mb-3">Excluir Perfil: {{ perfil.nome }}</h1>
    <p class="lead">Você tem certeza que deseja excluir o perfil "<strong>{{ perfil.nome }}</strong>"?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger me-2">Sim, Excluir</button>
        <a href="{% url 'siscqt_core:listar_perfis' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
