{% extends 'siscqt_core/base.html' %}

{% block title %}Confirmar Exclusão de Projeto{% endblock %}

{% block content %}
    <h1 class="mb-3">Excluir Projeto: {{ projeto.nome }}</h1>
    <p class="lead">Você tem certeza que deseja excluir o projeto "<strong>{{ projeto.nome }}</strong>"?</p>
    <div class="alert alert-danger mb-4" role="alert">
        <strong>ATENÇÃO:</strong> Todos os cenários e dados associados a este projeto serão PERMANENTEMENTE DELETADOS.
    </div>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger me-2">Sim, Excluir Projeto</button>
        <a href="{% url 'siscqt_core:listar_projetos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
